* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

input,
html,
body {
  font-family: "SUSE", sans-serif;
  font-size: rem(16px);
  letter-spacing: 0.01em;
}

body {
  background: $background-gradient;
  color: $font-color;
}

html,
body,
#root,
.app,
.wrap,
.main-page {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
